.alert-heading{
  color: red;
}

.p-email{
  color: black;
}

/*Botão X */
.blink {
  color: rgb(13, 4, 4);
  font-size: 38px;
}

hr{
  height: 2px;
  background-color: #9d9a9a;
}

.error-toast {
  background: linear-gradient(to right, #d91e05, #c9501c) !important;
}

.success-toast {
  background: linear-gradient(to right, #00b09b, #96c93d) !important;
}