
.error-toast {
    background: linear-gradient(to right, #d91e05, #c9501c) !important;
}
  
.success-toast {
    background: linear-gradient(to right, #00b09b, #96c93d) !important;
}
.ui-datepicker th {
    text-align: center; 
    padding: 10px;
  }

 
  .ui-datepicker {
    width: auto !important; 
  }


  .ui-datepicker.ui-widget {
    display: inline-block;
  }

  
  .ui-datepicker-title {
    text-align: center;
  }
 
  .form-control.date-input {
    width: 60%;
    border-radius: 4px;
    font-size: 12px;
  }

 #horario {
    width: 50%;
    font-size: 12px;
  }

  #observacao{
    width: 100%;
    height: 75%;
  }

  #btn-agendar{
    width: 100%;
  }


  .datepicker-container {
    background-color: azure;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }

 
  .ui-datepicker td a {
    text-decoration: none;
    color: inherit;
  }

 
  .ui-datepicker-prev,
  .ui-datepicker-next {
    color: #000;
    margin: 0 10%;
  }
